*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #ffffff;
	color: #2a3845;
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
}
.container{
	width: 695px;
	margin: 0 auto;
}
header{
	background: #7a2e40;
	font-weight: normal;
	height: 33px;
}
.head{
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 320px;
	height: 33px;
}
.head li:after{
	content: '|';
	margin-left: 8px;
	color: #f6dde3;
}
.head li:last-child:after {
  content: none;
}
.head li a{
	text-decoration: none;
	color: #f6dde3;
}
.content{
	overflow: hidden;
}
.main{
	width: 443px;
	float: left;
}
.slogan{
	height: 109px;
	overflow: hidden;
}
.slogan img{
	float: left;
	padding-top: 34px;
	padding-right: 12px;
}
.slogan h1{
	font-family: Georgia, sans-serif;
	font-size: 18px;
	color: #fa7393;
	padding-top: 43px;
}
span.word{
	color: #7a2e40;
}
.slogan p{
	color: #818282;
}
.section-first{
	background: #f9f9f9;
	border: 1px solid #f0e9eb;
	padding: 18px 15px 24px ;
}
.template{
	border-bottom:1px solid #f0e9eb;
	padding-bottom: 5px;
	margin-bottom: 11px;
}
.template h2{
	font-weight: bold;
	font-size: 14px;
	color: #7a2e40;
}
.template-text{
	width: 394px;
}
.list-first{
	padding-top: 20px;
	list-style: none;
	padding-bottom: 10px;
}
.list-first li {}
.list-first li:before {
	content: '';
	width: 4px;
	height: 4px;
	background: #fe7b9a;
	margin-right: 17px;
	vertical-align: middle;
	display: inline-block;
}
.section-second{
	margin-top: 27px;
	padding-right: 4px;
}
.section-second h2{
	font-size: 14px;
	font-weight: bold;
	color: #7a2e40;
	padding-bottom: 12px;
	border-bottom: 1px solid #f0e9eb;
}
.template-box{
	margin-top: 15px;
	overflow: hidden;
}
.template-box img{
	border: 1px solid #f0e9eb;
	float: left;
	margin-right: 20px;
}
.box-text{
	margin-top: 16px;
	padding-left: 3px;
}
.aside{
	width: 200px;
	float: right;
}
.picture{
	margin-top: 28px;
	padding-left: 10px;
}
.about{
	margin-top: 20px;
}
.about h3{
	font-size: 13px;
	font-weight: bold;
	color: #7a2e40;
	display: inline-block;
	margin-bottom: 12px;
}
.related-links{
	margin-top: 24px;
}
.related-links h3{
	font-size: 13px;
	font-weight: bold;
	color: #7a2e40;
}
.related-links ul{
	margin-top: 16px;
	border: 1px solid #f0e9eb;
	background: #f7f7f7;
	/*height: 138px;*/
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
.related-links ul li{}
.related-links ul li:before{
	content: url(../img/lapka-min.png);
	margin-right: 10px;
	margin-left: 15px;
	vertical-align:bottom;
	display: inline-block;
}
.related-links ul li a{
	color: #a43b55;
	line-height: 2;
}


footer{
	margin-top: 31px;
	background: #f9f9f9;
	height: 57px;
	border-top: solid #f0e9eb 1px;
}
.footer-text{
	width: 322px;
	height: 57px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: center;

}
.footer-link{
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.footer-link li a{
	color: #a43b55;
}
.footer-link li:after{
	content: '|';
	margin-left: 6px;
	margin-right: 7px;
	
}
.footer-link li:last-child:after {
  content: none;
  }
